<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="selecionandoimages.apps.htb.flutter_app_selecionando_image">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
